p, h1, h2{
    font-family: 'Signika Negative', sans-serif;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.nabar-nav{
    font-family: arial;
    margin-left: 35px 100px 0;
}

.navbar-default .navbar-nav li a{
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: greenyellow;
}

.logo img{
    margin: 0 0 0 50px;
    width:70px;
    height:auto;
}

#slider{
    background: url('../img/home.jpg');
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

.item{
    color: #fff;
    padding: 300px 0;
    padding-bottom: 100px;
}

.item h1{
    font-size: 5em;
}

.btn{
    background-color: #026d22;
    border-color: transparent;
}

.btn:hover{
    background-color: black;
    border: black;
}

.btn-danger:focus, btn-danger:active:focus{
    background-color:  yellow;
    border-color:  transparent;
}

/*skills*/
#skills h2{
    color: #f7f57d;
    font-weight: 700;
}

#skills{
    background-color: #faf7f7;
    padding: 80px 0 80px 0;
    text-align: center;
}

#skills .fa{
    color: #ffffff;
}

#skills .fa:hover{
    color: yellow; 
}

.board{
    box-shadow: 0 4px 16px -6px white;
    min-height: 300px;
    background-color: black;
    padding-top: 10px;
}

.board p{
    font-size: 14px;
    color: white;
}

/*our tour*/
#projects{
    background-color: rgb(219, 250, 160);
    padding: 50px 0 50px 0;
}

#projects h1{
    color: #00ff37;
    font-size: 3em;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}

#projects p{
    font-size: 2em;
}

#projects img{
    max-width: 250px;;
    max-height: auto;
}

/*connect*/
#connect{
    padding: 40px 0 80px 0;
    width: 100%;
    background-size: cover;
    background-color: white;
}

#connect h1{
    color: #00ff37;
    font-size: 4em;
    font-weight: 700;
    padding-top: 10px;
} 

#connect .col-md-4{
    text-align: center
}

#connect .gmail{
    padding-top: 50px;
    width: 400px;
    height: auto;
}

#connect img{
    max-width: 200px;
}

/*footer*/

#footer{
    padding: 25px 0 25px;
    background-color: rgb(52, 240, 52);  
    background-size: 20px 20px;
}

#footer p, a{
    color: black;
    font-weight: 700;
}

#footer a:hover{
    color: yellow;
    text-decoration: none;
}

#footer img {
    width: 100px;
    height: auto;
    float: right;
}


/*media*/

@media(max-width:660px){
    #slider{
        width: 100%;
        background-size: contain;
        background-repeat:no-repeat;
        background-attachment: fixed;
    }
    #slider .item{
        padding-top: 70px;
    }
    #slider h2{
       font-size: 1em;
    }
    .logo img{
        margin: 0 0 4px 0; 
        width: 40px;
        height: auto;
    }
    .navbar-nav{
        background-color:  rgba(0, 0, 0, 0.4);
    }
    #projects{
        text-align: center;
    }
    #projects h1{
        text-align: center;
    }
    #projects img{
        margin: auto;
    }

    #connect a img{
        max-width: 120px;
        max-height: auto;
        padding-top: 5px;
    }
    #connect .gmail{
        max-width: 180px;
        max-height: auto;
    }

    #connect h1{
        text-align: center;
    }

    #footer{
        text-align: center; 
    }

    #footer a img {
        width: 50px;
        height: auto;
        text-align: center;
    }
    .board{
        margin-left: 60px;
        margin-right: 60px;
    }
    
}

